@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;400;600;700&family=Montserrat:wght@400;600;800&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FUENTE GENERAL */
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #fff, #ff69c6bc);
}

/* NAVBAR */
nav {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to right, #fff, #ff70b0d3);
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* LOGO */
.logo {
  width: 65px;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

/* TITULO */
.titulo {
  font-family: 'Pacifico', cursive;
  font-size: 36px;
  margin-left: 10px;
  color: hotpink;
}

/* MENU */
.menu {
  display: flex;
  gap: 22px;
}

/* LINKS */
.menu a {
  font-size: 15px;
  font-weight: 600;
  color: #374151;
  text-decoration: none;
  position: relative;
  transition: 0.3s ease;
}

/* HOVER */
.menu a:hover {
  color: hotpink;
}

/* SUBRAYADO */
.menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background-color: hotpink;
  transition: 0.3s;
}

.menu a:hover::after {
  width: 100%;
}

/* BANNER */
.banner {
  background: #fff0f6;
  border: 1px solid pink;
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  text-align: center;
  color: hotpink;
}

/* CONTENEDOR */
.container {
  max-width: 1200px;
  margin: auto;
}

/* GRID DE TARJETAS */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

/* TARJETAS */
.card {
  background: white;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,.1);
  text-align: center;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;        
  height: 200px;     
  object-fit: cover;  
  border-radius: 8px;
}

/* Boton de ver detalle */

.btn-detail {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  background: linear-gradient(to right, hotpink, deeppink);
  border: none;
  border-radius: 10px;
  font-size: 15px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-detail:hover {
  background: deeppink;
  transform: scale(1.05);
}

 
/* ================= DETALLE DE PRODUCTO ================= */

.detail-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  background: white;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 6px 12px rgba(0,0,0,.1);
  max-width: 900px;
  margin: auto;
}

.detail-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-images img {
  width: 100%;
  max-width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 14px;
  box-shadow: 0 4px 8px rgba(0,0,0,.15);
}

/* INFO */

.detail-info h2 {
  font-size: 26px;
  margin-bottom: 12px;
}

.detail-info h3 {
  font-size: 22px;
  color: hotpink;
  margin-top: 10px;
}

.detail-info p {
  margin: 6px 0;
}

.description {
  margin-top: 10px;
  color: #555;
  line-height: 1.5;
}

/* BOTON */

.btn-buy {
  margin-top: 16px;
  padding: 12px;
  width: 100%;
  background: hotpink;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-buy:hover {
  background: deeppink;
  transform: scale(1.03);
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .detail-container {
    grid-template-columns: 1fr;
  }

  .detail-images img {
    height: 280px;
  }
}

.cart-count {
  background: hotpink;
  color: white;
  border-radius: 50%;
  padding: 2px 7px;
  font-size: 12px;
  font-weight: bold;
  margin-left: 6px;
}

/* ================== CARRITO EN TARJETAS ================== */

.carrito-contenedor {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.carrito-titulo {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
  color: hotpink;
}

.carrito-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.carrito-card {
  background: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.carrito-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
}

.carrito-info h2 {
  font-size: 22px;
}

.carrito-precio {
  color: hotpink;
  font-size: 20px;
  margin: 10px 0;
}

.carrito-btn {
  background: crimson;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.carrito-btn:hover {
  background: darkred;
}

.empty-cart {
  text-align: center;
  margin-top: 40px;
  font-size: 22px;
  color: gray;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .carrito-card {
    grid-template-columns: fr;
    text-align: center;
  }

  .carrito-img {
    width: 100%;
    height: 200px;
  }
}

